<div class="container">
  <cdk-virtual-scroll-viewport class="vscroll" autosize itemSize="10">
    <pre *ngIf="serverLogs.length === 0"
      style="color: white">{{ dateNow | date: "short" }} Select service to display logs </pre>
    <ng-container *cdkVirtualFor="let log of serverLogs">
      <app-log [log]="log" (clicked)="handleLogSelection(log)" [selected]="log === selectedLog"> </app-log>
    </ng-container>
  </cdk-virtual-scroll-viewport>
  <div class="selectedLog" *ngIf="selectedLog">
    <pre class="req">{{prettyReq}}</pre>
    <pre class="res">{{prettyRes}}</pre>
  </div>

</div>