@import "../../shared/variables"

:host
    display: inline
.title
    font-weight: bold
    color: $textSecondary
    white-space: nowrap
    min-width: 80px
.text
    font-family: monospace
    color: $textPrimary
    word-break: break-all
    line-break: anywhere
    margin: 0
    padding: 2px
.box
    display: inline
